@keyframes rollout {
    0% { 
        transform: scale(50%);
        opacity: 50%;
     }
    100% { 
        transform: none;
        opacity: 100%;
     }
}
.rollout {
  animation: rollout 0.2s;
}
  