@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  flex: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.carousel .thumb {
  display: inline-flex !important;
  margin-right: 4px !important;
}
.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid #0a0d !important;
}
.carousel .thumbs-wrapper {
  margin: 10px !important;
}

button{
  background-color: unset;
}