@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  flex: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@keyframes rollout {
  0% { 
      transform: scale(50%);
      opacity: 50%;
   }
  100% { 
      transform: none;
      opacity: 100%;
   }
}
.rollout {
animation: rollout 0.2s;
}


@layer components {
  .center{
    @apply flex items-center justify-center;
  }

  .scale-active{
    @apply active:transform active:scale-95 transition-transform duration-150;
  }

  .main-button{
    @apply cursor-pointer transition-all scale-active text-white gap-2 p-2 hover:bg-green-700 bg-green-600 center rounded-lg shadow-lg;
  }

  .secondary-button{
    @apply highlight center text-green-700 rounded-lg gap-2 p-2;
  }

  .disabled-button{
    @apply cursor-default text-gray-500 hover:bg-gray-300 bg-gray-300;
  }

  button:disabled {
    @apply disabled-button;
  }

  .highlight{
    @apply cursor-pointer hover:bg-black hover:bg-opacity-10 active:bg-black active:bg-opacity-10;
  }

  .icon-button {
    @apply center aspect-square highlight rounded-full flex items-center justify-center p-3 scale-active;
  }

  .menu-button {
    @apply highlight text-black whitespace-nowrap p-2 w-full items-center rounded-md justify-start gap-2 flex;
  }

  .fab{
    @apply rollout aspect-square h-14 transition-all scale-active hover:bg-green-700 bg-green-600 flex items-center justify-center rounded-full shadow-xl;
  }
  
  .link{
    @apply text-green-700 underline;
  }

  .h-no-header{
    height: calc(100vh - 3rem);
  }

  .min-h-no-header{
    min-height: calc(100vh - 3rem);
  }

  .label-active{
    @apply -top-2 left-2 text-xs px-1 text-gray-500 leading-none;
  }

  .label-inactive{
    @apply left-3 top-4 text-base px-0;
  }

  .center-col{
    @apply flex flex-col items-center;
  }

  .center-row{
    @apply flex flex-row items-center;
  }
}

input {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.carousel .thumb {
  display: inline-flex !important;
  margin-right: 4px !important;
}
.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid #0a0d !important;
}
.carousel .thumbs-wrapper {
  margin: 10px !important;
}

.twemoji{
  height: 1.2rem;
  margin-bottom: 0.2em;
  display: inline-block;
  vertical-align: middle;
}
